
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');


:root{
    --background: #000;
    --color-font: #fff;
    --first-color: #f5096f;
    --second-color:#09fb30;
    --third-color: #089;

    --font:font-family: "Reddit Mono", monospace,
    font-optical-sizing: auto,
    font-style: normal,
  ;
    /*--text-font:;*/
}
*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}
body{
    font-family: var(--font);
    background-color: var(--third-color);
    color: var(--color-font);
    box-sizing: border-box;
    padding: 1.5rem;

    /*height: 100vh;
    padding: 10%; 
    width: 100vh;*/
}
.menu__icons{
    display: flex;
    gap: 10%;
    flex-direction: row;
}
.nav__menu__home{
    
}
.nav__menu__who{

}
.nav__menu__about{

}
.nav__menu__login{
    
}

footer{
        color: var(--cor-primaria);
        background-color: var(--background);
        text-align: center;
        font-family: var(--font);
        font-size: 1rem;
        width: 100%;
        padding: 1.5rem;
        margin-left: 0;
}

